.MainPage {
  width: 100%;
  height: 100vh;
  display: flex;

  #soundOnButton{
    position: absolute;
    width: 35px;
    left: 1vw;
    top: 10vh;

    .soundBarContainer{
      height: 0;
      width: 10px;
      margin: 5% 12.5px;
      border-radius: 100px;
      background-color: var(--color);
      overflow: hidden;
      transition: 0.3s ease-in-out;
      position: relative;
      #soundBar{
        position: absolute;
        left: 0;
        top: 50%; //scrollbar property

        width: 100%;
        height: 100%;
        background-color: var(--volumeBar);
        transition: 0.3s ease;
      }
    }
    .openContainer{
      height: 15vh;
    }

    .containerSpeaker{
      width: 35px;
      height: 35px;
      position: relative;
      svg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        rect{
          fill: var(--bg);
        }
        path{
          stroke: var(--color);
        }
        #whiteLine{
          stroke: var(--colorR);
        }
      }
      #speakerON{
        :nth-child(2){
          fill: var(--color);
        }
      }
      #speakerOFF{
        display: none;
      }
    }
  }
  .MainText {
    font-size: 19vh;
    height: 0;
    position: absolute;
    right: 7%;
    top: 34%;
    font-family: 'megrim';
    
  }
  .Lamps {
    position: relative;
    top: -7vh;
    left: 11.5vw;

    width: 10vw;
    height: 10vh;
    animation: WavingLamp 7s ease-in-out infinite;
    
    .Lamp {
      position: absolute;
      height: 83vh;
      z-index: 9;
      #cursorArrow {
        display: none;
      }
      #cursorlight {
        display: block;
      }
    }
    #Light {
      position: absolute;
      z-index: 5;
      background-color: rgb(255, 152, 108);
      border-radius: 100%;
      height: 17vw;
      width: 17vw;
      filter: blur(7vw);
      left: -3vw;
      top: 51vh;
    }
  }

  .Quote {
    font-size: 28px;
    margin-left: -3vw;
    align-self: flex-end;
    margin-bottom: 4vh;
    .Line1 {
      display: flex;
      justify-content: start;
    }
    .Line2 {
      margin-left: 2vw;
      display: flex;
      justify-content: start;
      margin-left: 10vw;
    }
    span {
      opacity: 0.7;
      color: var(--color);
    }
  }
  .languageSwitchButton {
    color: var(--color);
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    font-size: 28px;
    .buttonLineContainer {
      width: 100%;
      height: 100%;

      @include underline(
        0,
        3px,
        -10px,
        auto,
        var(--color),
        "margin-left",
        "width"
      );
    }
    #languageSwitchWord{
      display: none;
    }
  }
}

.hScrollContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: none;
  .hScrollHeader {
    height: 93.8vh;
    width: 8vh;
    background-color: var(--blur);
    border: 0.6vh solid;
    border-left: none;
    border-color: var(--color);
    z-index: 20;
    position: absolute;
    top: 0;
    left: -1vh;
    padding: 2.5vh;
    backdrop-filter: blur(1vh);
    svg {
      width: 100%;
      height: 100%;
      path {
        stroke: var(--color);
      }
      &:hover {
        transition: 0.1s ease;
        path {
          fill: transparent;
        }
      }
    }
    .loginIcon {
      &:hover {
        animation: 5s stroke 0s linear infinite;
      }
    }
    .aroowButton {
      path {
        fill: none;
      }
      &:hover {
        animation: 5s stroke 0s linear infinite;
      }
    }
    #aboutButton,
    #allModelsButton {
      writing-mode: vertical-rl;
      rotate: 180deg;
      text-align: center;
      align-content: center;
      font-size: 28px;

      @include underline(
        5px,
        0,
        auto,
        6vh,
        var(--color),
        "margin-top",
        "height"
      );
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hScroll {
    display: flex;
    width: 330vw;
    top: 0;

    .hScrollElement {
      width: 250vw;
      margin-left: 10vw;
      position: relative;
      .GuitarTitle {
        writing-mode: vertical-lr;
        rotate: 180deg;
        position: absolute;
        bottom: 0;
        right: 85%;
        text-wrap: nowrap;
        padding-top: 1%;
        font-size: 4vh;
      }
      .GuitarImg {
        margin-left: 15%;
        width: 85%;
        height: 100%;
        border-left: 0.3vw solid;
        border-right: 0.3vw solid;
        border-color: var(--color);
        object-fit: cover;
      }
    }
    height: 100%;
    overflow: hidden;
    left: 0;
  }
  .lineBotTop {
    width: 100%;
    height: 0.3vw;
    position: absolute;
    background-color: var(--color);
    bottom: 0;
    left: 0;
    z-index: 55;
  }
  #TopLine {
    top: 0;
    height: 0.2vw;
    z-index: 55;
  }
}

.ContactSection {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  position: relative;
  .ContactHeader {
    padding: 0 5vw;
    div {
      height: 10vh;
      text-align: center;
      align-content: center;
    }
    .contactHeaderButton {
      position: relative;
      font-size: 30px;

      @include underline(
        0,
        0.5vh,
        1vh,
        auto,
        var(--color),
        "margin-left",
        "width"
      );
    }
    .headerTitle {
      font-size: 55px;
      letter-spacing: 0.5vh;
      width: fit-content;
      font-family: 'megrim';
    }
    display: flex;
    justify-content: space-between;
    .headerContButtons {
      font-size: 5vh;
      width: 40%;
      display: flex;
      justify-content: space-between;
    }
  }
  .ContactHeaderLine {
    width: 98vw;
    height: 0.3vw;
    margin: 0 1vw;
    background-color: var(--bgR);
    border-radius: 10vw;
  }

  .contactImageInfo {
    display: flex;
    height: 68%;
    .TeamImage {
      width: 27%;
      height: 55%;
      margin: 1% 3%;
      border-radius: 0.15vw;
      object-fit: cover;
    }
    .ContactMesureLine {
      width: 0.35vw;
      height: auto;
      margin: 1vh 0;
      background-color: var(--bgR);
      border-radius: 10vw;
    }
    .TextInfo {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-left: 13%;
      justify-content: space-between;
      .Info {
        text-align: right;
        font-size: 30px;
        margin-top: 1.3vh;
      }
      #CallButtonContainer {
        display: flex;
        justify-content: end;
        margin-top: 10vh;
        #requestCallButton {
          width: fit-content;
          right: 0;
          font-size: 35px;
          margin-bottom: 2vh;

          @include underline(
            0,
            0.3vh,
            -0.5vh,
            auto,
            var(--color),
            "margin-left",
            "width"
          );
        }
      }
      #numberForm {
        display: flex;
        justify-content: end;
        margin-bottom: 2%;
        .input {
          height: 55px;
          padding: 1%;
          font-size: 55px;
          letter-spacing: 0.8vw;
          display: flex;
          justify-content: space-between;
          border-radius: 0.15vw;
          width: fit-content;
          *{
            border-radius: 1vw;
          }
          .Code {
            font-size: 40px;
            text-align: center;
            align-content: center;
            background-color: var(--input);
            margin-right: 1vh;
          }
          #inputNumber {
            width: 75%;
            background-color: var(--phoneNumber);
            font-size: 40px;
            letter-spacing: 15px;
            font-weight: 300;
            color: var(--color);
          }
        }
      }
    }
  }
  .ContactFooterLine {
    width: 98vw;
    height: 0.3vw;
    margin: 0;
    background-color: var(--bgR);
    margin-left: 1vw;
    border-radius: 100vh;
  }

  .contactFooter {
    padding: 0 3vw;
    width: 94vw;
    height: 25%;
    display: flex;
    .rightSide {
      width: 40%;
      height: 100%;
    }
    .leftSide {
      width: 60%;
      height: 100%;
    }
    .slogan {
      font-size: 35px;
      letter-spacing: 0.5vh;
    }
    position: relative;
    .rightSideText {
      text-align: right;
      font-size: 21px;
      margin-top: 0.5vh;
    }
    .socialContainer {
      .socialElement {
        svg {
          path {
            stroke: var(--color);
          }
        }
        margin-top: 0.7vh;
        display: flex;
        svg {
          height: 5%;
          width: 5%;
          align-self: center;
          margin-right: 2%;
        }
        .SocialElText {
          text-align: center;
          align-content: center;
          font-size: 24.5px;
        }
        stroke-dasharray: 150px;
        &:hover {
          svg {
            animation: stroke 7s linear infinite;
          }
        }
        position: relative;
      }
      #phone {
        svg {
          height: 6%;
          width: 6%;
        }
      }
      #adress {
        svg {
          height: 4%;
          width: 4%;
        }
      }
    }
  }
}

.cursorContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  top: 0;
  left: 0;
  background: transparent;
  mix-blend-mode: difference;
  #cursor {
    #cursorArrow,
    #cursorlight {
      top: 0;
      left: 0;
      position: absolute;
      height: 3vh;
      width: 3vh;
      path {
        fill: var(--white);
      }
    }
    #cursorlight {
      display: none;
    }
  }

  #cursorCircle {
    background-color: var(--white);
    width: 2vh;
    height: 2vh;
    border-radius: 100%;
    position: absolute;
  }

  .pointer {
    #cursorArrow,
    #cursorlight {
      scale: 1.7;
      transition: 0.3s ease;
      transform: translate(0.5vh, 0.5vh);
    }
  }
  .click {
    #cursorArrow,
    #cursorlight {
      scale: 0.8;
      transition: 0.3s ease;
    }
  }
}

.PopUpAlert {
  position: absolute;
  z-index: 100;
  width: fit-content;
  min-height: 25vh;
  height: fit-content;
  right: 10%;
  bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  #notValidSymbol {
    width: fit-content;
    height: fit-content;
    border-radius: 0.5vh;
    border: 0.5vh solid;
    border-color: var(--color);
    background-color: var(--red);
    font-size: 35px;
    letter-spacing: -0.1vh;
    text-align: center;
    align-content: center;
    padding: 1vh;
    color: var(--white);
    margin-bottom: 1vh;
    opacity: 0;
  }
  #NotEnoughSymbols {
    width: fit-content;
    height: fit-content;
    border-radius: 0.5vh;
    border: 0.5vh solid;
    border-color: var(--color);
    background-color: var(--red);
    font-size: 35px;
    letter-spacing: -0.1vh;
    text-align: center;
    align-content: center;
    padding: 1vh;
    color: var(--white);
    opacity: 0;
  }

  #ThankYou {
    width: fit-content;
    height: fit-content;
    border-radius: 0.5vh;
    border: 0.5vh solid;
    border-color: var(--color);
    background-color: var(--green);
    font-size: 35px;
    letter-spacing: -0.1vh;
    text-align: center;
    align-content: center;
    padding: 1vh;
    color: var(--white);
    opacity: 0;
    bottom: 4vh;
    position: absolute;
  }
  pointer-events: none;
}

.Alert {
  animation: Alert 4s ease-in-out forwards;
}
.Copied {
  animation: Alert 2s ease-in-out forwards;
}

#emailCopied,
#phoneCopied,
#adressCopied {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 5vh;
  left: 15vh;
  background-color: var(--bgR);
  border-radius: 10vh 10vh 10vh 0.3vh;
  border: 0.5vh solid;
  border-color: var(--color);
  color: var(--bg);
  padding: 1vh;
  text-align: center;
  align-content: center;
  opacity: 0;
  pointer-events: none;
}

#emailCopied {
  bottom: 18vh;
}
#phoneCopied {
  bottom: 14vh;
}
#adressCopied {
  bottom: 7vh;
}

.SpinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  .SpinnerElement {
    width: 12.5vw;
    height: 25vh;
    margin-top: 37.5vh;
    #Spinner {
      height: 50%;
      width: 100%;
      path {
        stroke: var(--white);
      }
      animation: SVGPick 5s linear 0s infinite;
    }

    #SpinnerText {
      width: 100%;
      path {
        stroke: var(--white);
      }
      animation: SVGPick 30s linear 0s infinite;
    }
  }
}

.HideSpinner {
  animation: SpinnerOff 0.5s ease 0s forwards;
}

.arrowHint{
  position: absolute;    
  top: 33%;
  left: 22%;
  height: 200px;
  width: 200px;
  opacity: 0.3;
  #arrow{
    fill: none;
    position: absolute;
    width: 55px;
    height: 55px;
    top: 72.5px;
    left: 72.5px;
    path{
      stroke: var(--color);
    }
  }
  
  #circleText{
    position: absolute;
    top: 0;
    left: 0;
    animation: spinRound 30s linear 0s infinite;
    height: 200px;
    width: 200px;
    path{
      fill: var(--color);
      &:first-child{
        fill: none;
        stroke: var(--color);
      }
    }
  }
}
#mobileScrl-ItemName{
  display: none;
}
//! Adaptive

@media only screen and (max-width: 1100px) {
  .cursorContainer {
    visibility: hidden;
  } //* Turn off cursor

  .PreviewImageBackGround{
    display: none !important;
  }

  .MainText {
    font-size: 20vw !important;
    top: 7vh !important;
    right: 1vw !important;
  }
  .Lamps{
    scale: 0.7;
    top: -1vh !important;
  }
  #Light {
    top: 58vh !important;

    height: 27vh !important;
    width: 27vh !important;
    filter: blur(10vh) !important;
  }
  .arrowHint{
    left: 42%;
  }
  .languageSwitchButton{
    margin-bottom: -3vh;
    #languageSwitchWord{
      display: inline-block !important;
    }
  }
  .Quote {
    width: 80vw;
    font-size: 18px !important;
    margin-bottom: 15vh !important;
  }

  //* H Scroll
  main {
    overflow: hidden;
  }
  .transited {
    filter: blur(3vw);
    transition: all 0.2s ease; /* Плавный переход для эффекта */
  }
  #mobileScrl-ItemName{
    display: block;
    top: -15%;
    left: 0;
    width: 100%;
    height: 10%;
    font-size: 6vw;
    text-align: center;
    align-content: center;
    transition: 0.3s ease;
    margin-bottom: 10vh;
  }
  .hScrollContainer {
    border: none;
    left: 0vw !important;
    overflow: visible !important;
    height: 85vh;
    margin-top: 10%;
    width: 100vw !important;
    #hScroll{
      width: 850%;
      height: 90%;
      margin-top: 20%;
      overflow: visible !important;
      margin-left: 0;
      
      transition: 0.15s ease-in-out;

      margin-left: -0vw;
      .hScrollElement{
        perspective: 300px;
        width: 100vw !important;
        margin: 0;
        .wrapper{
          width: 85%;
          height: 100%;
          border-radius: 10vw;
          position: absolute;
          top: 0;
          left: 0;
          margin: 0 7.5%;
          z-index: 1;
          background-color: var(--white);
          opacity: 0.8;

          transition: 0.6s ease;
        }
        .GuitarImg{
          border-radius: 10vw;
          border: none;
          background-color: var(--color);
          margin:0 7.5%;
          transform: rotateY(0deg) rotateX(0deg);
        }
        .GuitarTitle{
          display: none;
        }
      }
    }
    .lineBotTop{
      display: none;
    }
    .hScrollHeader {
      margin: 10vh 0;
      padding: 2%;
      left: 0;
      width: 10%;
      height: 76vh;
      position: fixed;
      border-radius: 0 2vh 2vh 0;
      z-index: 250 !important;
    }
  }
  .headerHide{
    margin-left: -20vw !important;
    transition: 0.15s ease-in-out;
  }

  //* Contact section

  .headerTitle{
    font-size: 45px !important;
  }

  .ContactHeader{
    margin-bottom: 0%;
    left: 0;

    display: flex;
    flex-direction: column;

    .headerContButtons{
      height: 50px !important;
      width: 80% !important;
      .contactHeaderButton{
        font-size: 25px;
        height: 30px;
      }
    }
    .headerTitle{
      width: 90vw !important;
      text-align: center;
    }
    .headerContButtons{
      min-width: 90vw;
      display: flex !important;
      justify-content: space-between !important;
  
      .contactHeaderButton{
        @include underline(
          0,
          3px !important,
          -7px !important,
          auto,
          var(--color),
          "margin-left",
          "width"
        );
      }
    }
  }
  .contactImageInfo {
    width: 100%;
    padding: 3% 0;
    height: 100% !important;
    .Info {
      width: 100%;
      font-size: 2.4vh !important;
    }
    .TextInfo{
      width: 80% !important;
      margin: 0 3% 0 15% !important;
    }
    .TeamImage {
      display: none;
    }
    .ContactMesureLine {
      display: none;
    }
    #requestCallButton {
      span {
        font-size: 35px;
      }
    }
    #numberForm {
      min-width: 90% !important;
      width: 90% !important;
      margin-left: 10%;
      .input {
        width: 96% !important;
        min-width: 96% !important;
        height: fit-content !important;
        background-color: transparent !important;
        .Code{
          width: 30% !important;
          text-align: center;
          align-content: center;
          font-size: 25px !important;
          background-color: var(--input);
          border-radius: 1vh;
          margin-right: 1vw;
          height: 40px;
        }
        #inputNumber {
          font-size: 25px !important;
          letter-spacing: 5px !important;
          background-color: var(--phoneNumber);
          height: 40px;
          padding: 0 1vw;
        }
      }
    }
  }
  
  .leftSide {
    display: none;
  }
  .rightSide {
    width: 100% !important;
  }
  #adressCopied{
    bottom: 10vh;
  }
  .contactFooter{
    height: fit-content !important;
    padding-bottom: 3vh !important;
  }
  .copyTextMessage{
    display: none;
  }
  #ContactSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


@keyframes wipeIn {
  from{
  }
  to{
    opacity: 1;
    transform: translateX(0) translateY(0);
    gap: 0;
    margin: 0;
    padding: 0;
  }
}

.wipeIn{
  opacity: 0;
}
.wipeLamp{
  transform: translateY(-50px);
}

.wipeContactTitle{
  margin-left: -30%;
}
.wipeContactButtons{
  margin-right: -60%;
}

.WipeHeader{
  margin-top: -10%;
}
.wipeLanguage{
  margin-right: -60vw;
}