.popUpGuitarContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    .popUpGuitarsSect{
        width: 100vw;
        height: 100%;
        background-color: var(--bg);
        border-radius: 0.4vh;
        padding-left: 2vw;

        .popUpHeader{
            width: 100%;
            height: 56px;
            border-bottom: 0.5vh solid;
            border-color: var(--color);
            display: flex;
            justify-content: space-between;
            position: relative;
            background-color: var(--bg);
            .buttons{
                width: 70%;
                display: flex;
                justify-content: space-between;
                padding: 0 10% 0 10%;
                .popUpHeaderButton{
                    text-align: center;
                    align-content: center;
                    font-size: 25px;
                    @include underline
                    (0, 3px, 7px, auto, var(--color), 'margin-left', 'width')
                }
            }
            .rightSideHeader{
                width: 500px;
                height: 100%;
                display: flex;
                
                #popupHeaderMesureLine{
                    height: 90%;
                    width: 1.7vh;
                    margin-left: 60%;
                    margin-top: 0.4%;
                    background-color: var(--color);
                    border-radius: 5vw;
                }
                #popUpHeaderClose{
                    padding: 2% 3% 2% 7%;
                    transition: 0.3s ease;
                    #cross{
                        width: 100%;
                        height: 100%;
                    }
                    display: flex;
                    justify-content: end;
                    width: 100%;
                }
            }
        }

        .popUpPropsContainer{
            width: 68%;
            padding: 0 3% 0 4%;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            position: absolute;
            .Props{
                border: 0.5vh solid;
                border-top: none;
                border-color: var(--color);
                height: fit-content;
                padding: 1% 2%;
                width: 21%;
                background-color: var(--bg);

                margin-top: -30vh; //! Prop for JS
                transition: 0.3s ease-in;
                .Property{
                    margin-bottom: 10%;
                    @include underline
                    (0, .3vh, 0, auto, var(--color), "margin-left", "width");
                    width: fit-content;
                    select{
                        background-color: var(--bg);
                        border: none;
                        font-size: 2.5vh;
                        font-weight: 200;
                        color: var(--color);
                    }
                }
                border-radius: 0.2vw;
            }
            #filtersProp{
                margin-top: -70vh;
            }
            .popUpPropsOn{
                margin-top: 0 !important;
                transition: 0.5s ease-in-out;
            }
        }
        .allItemsContainer{
            width: 100%;
            height: 88%;
            margin: 1%;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            overflow-y: auto;
            background-color: var(--bg);
            .GuitarItem{
                width: 13vw;
                height: 17vw;
                margin-right: 3%;
                margin-bottom: 2%;
                height: fit-content;

                .TitleContainer{
                    width: 100%;
                    border-top: 0.4vh solid;
                    border-color: var(--color);
                    height: fit-content;
                    margin-top: 2%;
                    .TitleItem{
                        font-size: 23px;
                        text-align: center;
                    }
                }
                
                .ImageItem{ 
                    width: 97%;
                    height: 13vw;
                    object-fit: cover;

                    border-right: 0.5vh solid;
                    border-left: 0.5vh solid;
                    border-color: var(--color);
                }
            }
        }
    }
}

.PreviewImageBackGround{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #16161693;
    backdrop-filter: blur(1vh);
    z-index: 60;
    pointer-events: none;
    .Preview{
        width: 20%;
        height: 80%;
        border: 0.5vh solid;
        border-color: var(--color);
        position: absolute;
        margin: 4% 40%;
        object-fit: cover;
    }
}

.OpenItemContainer{
    width: 100vw;
    height: 100vh;
    z-index: 65;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #16161693;
    .ItemWindow{
        width: 50%;
        height: 84%;
        margin: 2.5% 25%;
        object-fit: cover;
        background-color: var(--bg);
        border: 0.5vh solid;
        border-color: var(--color);
        padding: 1%;

        display: flex;
        justify-content: space-between;
        .leftSide{
            width: 40%;
            height: 98%;
            display: flex;
            
            flex-direction: column;
            justify-content: space-between;
            .ImageLogoContainer{
                width: 100%;
                height: 90%;
                overflow: hidden;
                .ImageLogo{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .imagesSwtich{
                width: 50%;
                height: 3vh;
                margin: 10% 25% 5% 25%;

                display: flex;
                justify-content: space-around;
                .imageSwitchButton{
                    height: 3vh;
                    width: 3vh;
                    border-radius: 10vw;
                    background-color: var(--color);
                    filter: opacity(0.4);
                    scale: 0.8;
                }
            }
        }
        .rightSide{
            width: 54%;
            height: 98%;
            #Paragraph{
                width: 100%;
                height: 50%;
                color: var(--color);
                font-size: 15px;
                letter-spacing: 3px;
                overflow-y: auto;
            }
            #quoteOfParagraph{
                font-size: 15px;
                font-family: cursive;
                font-family: 'Indie Flower';
            }
            #nameOfItem, #guitarist{
                font-size: 20px;
                text-align:right;
                width: 150%;
                margin-left: -50%;
            }
            #guitarist{
                font-weight: 100;
                opacity: 0.6;
                font-size: 17px;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.Hidden{
    visibility: hidden;
    opacity: 0;
}

.ImageSelected{
    scale: 1.4 !important;
    filter: opacity(1) !important;
    translate: 0.5s;
}